:root {
    --clr-secondary-400: 217 19% 35%;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    font-size: 1rem;
    font-family: "ubuntu-regular", sans-serif;
    font-weight: initial;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: #f0f2f5;
}

h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
input,
textarea,
button,
dd {
    margin: 0 0 0 10px;
}

img,
picture {
    max-width: 100%;
    display: block;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.Add-new-product{

}

.navbar-main{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    margin-bottom: 10px;
    gap: 1rem;
}

.profile{
    display: flex;
    gap: .5rem;
}

#top-product-search-bar{
    border: none;
    font-size: 0.875rem;
    margin-left: 3rem;
    background-color: #f0f2f5;

}

#profile-picture{
    aspect-ratio: 1;
    height: 2.5rem;
    clear:both;
}

#profile-name{
    display: flex;
    align-items: center;
}

.left-right-grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: minmax(6rem, auto);
    grid-gap: 1rem;
}
.left{
    overflow-y:auto;
    overflow-x: hidden;
    padding-right: 1rem;
    background-color: white;
    box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
}

.pickup{
  margin-top: .875rem;
}

.right{
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: .5rem;
    gap: 1rem;
}

.right > *{
    background-color: white;
    padding: 1rem;
    box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
}

.add-new-product{
    grid-row: 1/2;
}

.products{
    grid-row: 1/3;
}



.product-sold{
    display: flex;
    justify-content: space-between;
    margin-bottom: .875rem;
}

.sold-per{
    display: flex;
    justify-content: space-between;
}

.sold-lot{
    font-size: .875rem;
    opacity: 70%;
    display: flex;
    justify-content: space-between;
}

.pickup-location-date{
    display: flex;
    justify-content: space-between;
}

#pickup-header{
    margin-bottom: .5rem;
}

.deliver{
    padding-top: 1rem;
}

.deliver-location-date{
    display: flex;
    justify-content: space-between;
}